{% extends 'app/base.html' %}
{% load static %}
{% block title %} {{ page_title }} {% if query %} - "{{ query }}" {% endif %} {% endblock %}

{% block content %}
<section id="section-search" class="mt-5 section section-bg search mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card bg-light text-dark" data-aos="fade-up" data-aos-delay="150">
                    <div class="card-header">
                        <h2 class="fw-bold text-dark mt-5 text-center">{{ page_title }}
                            {% if query %}
                                {% if not posts and not projects %}
                                <span class="text-danger">- No results found</span>
                                {% else %}
                                <span class="text-success fw-normal">- {{ total_results }} results for  "{{ query }}"  found</span>
                                {% endif %}
                            {% endif %}
                        </h2>

                        <form id="search-form" action="{% url 'app:search' %}" method="GET" class="m-3">
                            <div class="row g-2 d-flex justify-content-center align-items-center">
                                <!-- Search Input -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <input type="text" class="form-control form-control-lg" placeholder="Type to search..."
                                           aria-label="Search" name="q" value="{{ query }}" required>
                                </div>

                                <!-- Category Select -->
                                <div class="col-12 col-md-6 col-lg-3">
                                    <select class="form-select form-select-lg" name="category" id="category-select">
                                        {% for key, value in filter_options.items %}
                                        <option value="{{ key }}" {% if category == key %}selected{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Sort Select -->
                                <div class="col-12 col-md-6 col-lg-3">
                                    <select class="form-select form-select-lg" name="sort">
                                        {% for key, value in sort_options.items %}
                                        <option value="{{ key }}" {% if sort == key %}selected{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-12 col-md-6 col-lg-2">
                                    <button type="submit" class="btn btn-outline-success btn-lg w-100 d-flex align-items-center py-1 px-4 justify-content-center">
                                        <i class="bi bi-search me-1"></i>
                                        <span>Search</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% if query %}
                        <ul class="nav nav-tabs card-header-tabs" id="searchTabs" role="tablist">
                            <li class="nav-item" role="presentation" id="posts-tab-container">
                                <button class="nav-link active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button" role="tab" aria-controls="posts" aria-selected="true">Blog Posts</button>
                            </li>
                            <li class="nav-item" role="presentation" id="projects-tab-container">
                                <button class="nav-link" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects" type="button" role="tab" aria-controls="projects" aria-selected="false">Projects</button>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% if query %}
                        <div class="tab-content" id="searchTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                {% if posts %}
                                <ul class="list-group list-group-flush">
                                    {% for post in posts %}
                                    <li class="list-group-item" data-aos="fade-up" data-aos-delay="100">
                                        <a href="{% url 'blog:post_detail' post.slug %}" target="_blank" class="text-decoration-none">
                                            <h4 class="card-title fw-bold">{{ post.title | safe }}</h4>
                                            <p class="card-text text-muted">{{ post.content | safe | truncatewords:20 }}</p>
                                            <small class="text-muted"><span class="fw-bold">Published:</span> {{ post.created_at | date:"N d, Y" }}</small>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% include "app/pagination/search.html" with page_obj=posts %}
                                {% else %}
                                <div class="alert alert-danger" role="alert">
                                    No blog posts found
                                </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
                                {% if projects %}
                                <ul class="list-group list-group-flush">
                                    {% for project in projects %}
                                    <li class="list-group-item" data-aos="fade-up" data-aos-delay="100">
                                        <a href="{{ project.project_url }}" target="_blank" class="text-decoration-none">
                                            <h4 class="card-title fw-bold">{{ project.title | safe }}</h4>
                                            <p class="card-text">{{ project.description | safe | truncatewords:20 }}</p>
                                            <small class="text-muted"><span class="fw-bold">Updated on:</span> {{ project.updated_at|date:"N d, Y" }}</small>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% include "app/pagination/search.html" with page_obj=projects %}
                                {% else %}
                                <div class="alert alert-danger" role="alert">
                                    No projects found
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if not posts and not projects %}
                        <div class="alert alert-danger" role="alert">
                            No results found for your search query. Try adjusting your search terms or filters.
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
