{% load static %}

<!-- Profile Edit -->
<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
    <form method="post" enctype="multipart/form-data" id="profile-form">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="profile">
        <h3 class="mb-2 card-title">Profile</h3>
        {% for field in form %}
        {% if field != form.profile_pic %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
                {% if field.field.required %}
                <span class="text-danger"><i class="bi bi-asterisk"></i></span>
                {% endif %}
            </label>
            {{ field }}
            <div class="char-counter mt-1">
                <small class="text-muted">
                    <span id="{{ field.auto_id }}-count"></span>
                </small>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <h3 class="card-title mb-2">Social Links</h3>
        {% for field in social_form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
                {% if field.field.required %}
                <span class="text-danger"><i class="bi bi-asterisk"></i></span>
                {% endif %}
            </label>
            {{ field }}
            <div class="char-counter mt-1">
                <small class="text-muted">
                    <span id="{{ field.auto_id }}-count"></span>
                </small>
            </div>
        </div>
        {% endfor %}

        <div class="text-center">
            <button type="submit" class="btn btn-primary" id="profile-submit-button" data-loading-text="{{ data_loading_text }}">Save Changes</button>
        </div>
    </form>
</div>
