{% load static %}

<!-- Profile Edit -->
<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
    <form method="post" enctype="multipart/form-data" id="profile-form">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="profile">
        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label">Profile Photo</label>
            <div class="col-md-8 col-lg-9">
                {% if profile.optimized_image_url %}
                <img src="{{ profile.optimized_image_url }}" alt="Profile" loading="lazy"
                    class="img-fluid rounded-circle mb-2" style="max-width: 150px;">
                {% endif %}
                <div class="pt-2">
                    <button type="button" class="btn btn-primary btn-sm"
                        title="{% if profile.optimized_image_url %} Update {% else %} Upload {% endif %} Photo"
                        id="openImageCropModalBtn" onclick="openImageCropModal()">
                        <i class="bi bi-upload"></i>{% if profile.optimized_image_url %} Update {% else %} Upload {% endif %} Photo
                    </button>
                    {% if profile.optimized_image_url %}
                    <button type="button" class="btn btn-danger btn-sm" title="Delete Photo"
                        id="confirmDeleteProfilePicBtn" onclick="confirmDeleteProfilePic()">
                        <i class="bi bi-trash"></i> Delete Photo
                    </button>
                    {% endif %}
                </div>
                <small class="text-muted d-block mt-2">
                    Minimum size: 500x500px, Maximum file size: 20MB
                </small>
            </div>
        </div>

        <h3 class="mb-2 card-title">Profile</h3>
        {% for field in form %}
        {% if field != form.profile_pic %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
                {% if field.field.required %}
                <span class="text-danger"><i class="bi bi-asterisk"></i></span>
                {% endif %}
            </label>
            {{ field }}
        </div>
        {% endif %}
        {% endfor %}

        <h3 class="card-title mb-2">Social Links</h3>
        {{ social_form.as_p }}

        <div class="text-center">
            <button type="submit" class="btn btn-primary" data-loading-text="{{ data_loading_text }}">Save Changes</button>
        </div>
    </form>
    {% include 'auth/profile/partials/modals/crop-images-modal.html' %}
    {% include 'auth/profile/partials/modals/delete-image-modal.html' %}
</div>
