{% load static %}

<!-- Settings -->
<div class="tab-pane fade pt-3" id="profile-settings">
    <form method="post" action="{% url 'authentication:user_profile' request.user %}" id="settings-form">
        {% csrf_token %}
        <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
            <div class="col-md-8 col-lg-9">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="settings">
                {% for field in settings_form %}
                <div class="form-switch form-check mb-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}"
                        class="form-check-label {% if field.field.widget.attrs.disabled %}text-muted{% endif %}">
                        {{ field.label }}
                        {% if field.field.required %}
                        <span class="text-danger"><i class="bi bi-asterisk"></i></span>
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>
