<div class="row gx-4 gy-4 justify-content-center align-items-center">
    {% for article in articles %}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card text-black h-100">
            <div class="card-header text-center pt-2">
                <h5 class="card-title fw-bold">
                    <a href="{% url 'blog:blog_post_details' article.slug %}" class="text-decoration-none text-success">{{ article.title }}</a>
                </h5>
                <p class="card-text text-muted">
                    <small>
                        By
                        <a href="{% url 'blog:posts_by_author' article.author.username %}" class="text-success text-decoration-none">
                            {% if article.author.first_name and article.author.last_name %}
                                {{ article.author.first_name }} {{ article.author.last_name }}
                            {% else %}
                                {{ article.author.username | capfirst }}
                            {% endif %}
                        </a>
                        &nbsp; | &nbsp;
                        {% if article.first_published_at %}
                            {{ article.first_published_at | date:"N j, Y" }}
                        {% else %}
                            {{ article.post_created_at | date:"N j, Y" }}
                        {% endif %}
                    </small>
                </p>
            </div>
            {% if article.optimized_image_url %}
            <div class="card-body">
                <img src="{{ article.optimized_image_url }}" class="card-img-top" alt="{{ article.title | default:'Post Image' }}" style="object-fit: cover; height: 150px;">
            </div>
            {% endif %}
            <div class="card-body d-flex flex-column">
                <p class="card-text">{{ article.content | safe | truncatechars:50 }}</p>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'blog:blog_post_details' article.slug %}" class="btn btn-outline-primary">Read Article</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-11 text-center mb-4 gap-2">
        <div class="alert alert-danger text-center" role="alert">
            <div class="bi bi-exclamation-circle-fill text-danger" style="font-size: 1.5rem;">
                <h3 class="alert-heading fw-bold">No articles found!</h3>
                {% if user.is_staff %}
                <a href="{% url 'blog:create_blog_post' %}" class="btn btn-outline-primary">Create Article</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
