{% for post in articles %}
<div class="col-lg-5 col-md-6 mb-4">
    <div class="card bg-white text-black h-100" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-delay="250">
        <div class="card-header">
            <p class="card-title fw-bold">
                <a href="{% url 'post_detail' post.slug %}" class="text-success text-decoration-none">{{ post.title }}</a>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    By <a href="{% url 'app:author_posts' post.author.username %}" class="text-success text-decoration-none">
                        {{ post.author.get_full_name|default:post.author.username }}</a>
                    &nbsp;|&nbsp; <span class="text-muted">{{ post.created_at|date:"N j, Y" }}</span>
                </small>
            </p>
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.content|safe|truncatewords:20 }}</p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'app:post_detail' post.slug %}" class="btn btn-success">{{ submit_text }}</a>
        </div>
    </div>
</div>
{% empty %}
<div class="col-12">
    <div class="alert alert-danger" role="alert">
        No articles found for this topic.
    </div>
</div>
{% endfor %}