{% load static %}
    <div class="widget-items-container">
        <div class="blog-author-widget widget-item">
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center w-100">
                    <img src="{% static 'assets/images/profile.jpg' %}" alt="" class="rounded-circle flex-shrink-0">
                    <div>
                        <h4>{{ article.author.get_full_name | default:article.author.username|capfirst }}</h4>
                        <div class="social-links mt-2">
                            {% with social=article.author.profile.social_media.first %}
                                {% if social.twitter_x %}
                                    <a href="{{ social.twitter_x }}" class="twitter"><i class="bi bi-twitter"></i></a>
                                {% endif %}
                                {% if social.facebook %}
                                    <a href="{{ social.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
                                {% endif %}
                                {% if social.linkedin %}
                                    <a href="{{ social.linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                                {% endif %}
                                {% if social.github %}
                                    <a href="{{ social.github }}" class="github"><i class="bi bi-github"></i></a>
                                {% endif %}
                                {% if social.youtube %}
                                    <a href="{{ social.youtube }}" class="youtube"><i class="bi bi-youtube"></i></a>
                                {% endif %}
                                {% if social.whatsapp %}
                                    <a href="https://wa.me/{{ social.whatsapp }}" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <p>
                    {{ article.author.profile.bio | default:"Author Bio" }}
                </p>
            </div>
        </div>
        <div class="widget-item search-widget">
            <h3 class="widget-title">Search Blog</h3>
            <form id="search-form" action="{% url 'blog:list_articles' %}" method="get">
                <input type="search" name="q" class="form-control" placeholder="Search..." required>
                <button type="submit" id="submitButton" data-loading-text="{{ data_loading_text }}"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <!-- End widget search form-->

        <div class="recent-posts-widget widget-item">
            <h3 class="widget-title">Recent Posts</h3>
            {% for post in other_posts %}
            <div class="post-item">
                {% if article.optimized_image_url %}
                <img src="{{ article.optimized_image_url }}" alt="{{ article.title }}" class="flex-shrink-0">
                {% endif %}
                <div>
                    <h4><a href="{% url 'blog:article_details' article.slug %}">{{ article.title }}</a></h4>
                    <time datetime="{{ article.first_published_at }}">{{ article.first_published_at | date:"N j, Y" }}</time>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="widget-item tags-widget">
           <h3 class="widget-title">Topics</h3>
           <ul>
               {% for topic, count in all_topics %}
               <li>
                   <a href="{% url 'blog:articles_by_topic' topic %}">
                   {{ topic }} <span>({{ count }})</span></a>
               </li>
               {% endfor %}
           </ul>
       </div>
    </div>
    <!-- End widget tags-->
