Django~=5.2.0
whitenoise~=6.9.0
gunicorn~=23.0.0
uvicorn~=0.34.0
django-ckeditor-5~=0.2.17
django-crispy-forms~=2.3
psycopg2-binary~=2.9.10
titlecase~=2.4.1
pillow~=11.1.0
django-cors-headers~=4.7.0
django-storages~=1.14.6
django-cloudflare-images~=0.6.0
cloudinary~=1.44.0
flake8~=7.2.0
wagtail~=6.4.1
wagtail-modeladmin~=2.1.0
django-robots~=6.1
django-simple-captcha~=0.6.0
daphne~=4.1.2
# django redis
django-redis~=5.4.0
