{% extends "app/base.html" %}
{% load static %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}
    <section id="section" class="mt-5 section contact">
        <div class="container mt-5">
            <div class="row g-0">
                <!-- Image Column -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="h-100 contact-image" 
                        style="background-image: url('https://res.cloudinary.com/dg4sl9jhw/image/upload/f_auto,q_auto/v1/portfolio/xjqvliwji7pmdmivvl73');
                            background-size: cover;
                            background-position: center;
                            min-height: 300px;">
                    </div>
                </div>

                <!-- Form Column -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card border-0 rounded-0 h-100" data-aos="fade-up" data-aos-delay="200">
                        <div class="card-body p-4">
                            <div class="section-title mb-0">
                                <h2 class="text-center fw-bold mb-0" data-aos="fade-up">{{ page_title }}</h2>
                            </div>
                            <h3 class="card-title text-center fw-bold mb-4">Send Me a Message</h3>
                            <form id="other-form" method="post" class="contact-form">
                                {% csrf_token %}
                                <div class="row gy-4">
                                    {% for field in form %}
                                        <div class="col-12">
                                            <label for="{{ field.label }}" class="pb-2">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                    
                                    {% if user.is_staff %}
                                    <div class="col-12 text-center mt-4">
                                        <button type="submit" class="btn btn-success d-inline-flex align-items-center" disabled>{{ submit_text }}</button>
                                    </div>
                                    {% else %}
                                    <div class="col-12 text-center mt-4">
                                        <button type="submit" class="btn btn-success d-inline-flex align-items-center">{{ submit_text }}</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
