{% extends 'app/base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
    <div class="page-title">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="{% url 'app:home' %}">Home</a></li>
                    <li>Services</li>
                </ol>
            </nav>
        </div>
    </div>

    {% include 'app/includes/services.html' %}
{% endblock %}
