{% extends "app/base.html" %}
{% load static %}
{% block title %}Delete Post{% endblock %}

{% block content %}
<section class="mt-5 section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Delete Post</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Are you sure you want to delete "{{ object.title }}"?</p>
                        <form method="post" class="text-center">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm Delete</button>
                            <a href="{% url 'blog:blog_post_details' object.slug %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}