{% extends "app/base.html" %}
{% load static %}

{% block title %}{{ error_title }}{% endblock %}

{% block content %}
<section class="py-5 min-vh-100 d-flex align-items-center justify-content-center bg-white">
    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8 col-sm-11">
                <div class="card border-0 shadow-lg">
                    <div class="card-header text-white text-center section-title py-4">
                        <h2 class="fw-bold text-primary mb-0">{{ error_code }}: {{ error_title }}</h2>
                    </div>
                    <div class="card-body text-center py-5">
                        <img src="{% static error_image %}" alt="{{ error_code }} Error" class="img-fluid mb-2">
                        <p class="lead mb-4">{{ error_message }}. Go to?</p>
                        <div class="links d-flex justify-content-center"> 
                            <a class="btn btn-primary btn-secondary btn-lg" href="{% url 'app:home' %}">Home</a>
                            <a class="btn btn-primary btn-secondary btn-lg" href="{% url 'blog:post_list' %}">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
