<section id="featured-projects" class="py-5" data-aos="fade-up">
    <div class="container justify-content-center align-items-center">
        <div class="text-center mb-2 section-title" data-aos="fade-up" data-aos-delay="100"> 
            <h2 class="text-center">Featured Projects</h2>
        </div>
        <div class="d-flex justify-content-center align-items-center w-100">
            <div class="row justify-content-center align-items-stretch col-lg-11 g-2 d-flex">
                {% for project in featured_projects %}
                <div class="col-lg-4 col-md-6 col-sm-10 mb-2" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="card h-100 d-flex justify-content-center">
                        <div class="card-header justify-content-between d-flex">
                            <h3 class="card-title fs-6 fw-semibold text-start">
                                <a href="{% url 'app:project_detail' project.slug %}" class="text-decoration-none text-success">{{ project.title }}
                                </a>
                            </h3>
                            <!-- Icon for editing -->
                            {% if user.is_staff  %}
                            <a href="{% url 'app:update_project' project.slug %}" class="btn btn-link text-decoration-none text-primary">
                                <i class="bi bi-pencil-square bi-pencil-fill"></i>
                            </a>
                            {% endif %}
                        </div>
                        {% if project.optimized_image_url %}
                        <div class="card-body card-image"
                            style="background-image: url('{{ project.optimized_image_url }}');
                                background-size: cover; background-position: center; height: 150px; width: 100%;">
                        </div>
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <p class="card-text text-start">
                                <span class="short-description">{{ project.description | safe | truncatechars:20 }}</span>
                                <span class="full-description d-none" data-length="{{ project.description | safe | length }}">{{ project.description | safe | truncatechars:100 }}</span>
                                <button class="toggle-description btn btn-link p-0" style="display: none;" aria-expanded="false">More</button>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'app:project_detail' project.slug %}" class="btn btn-outline-primary">
                                <span>Project Details</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-sm-10 col-lg-7 col-md-7 text-center mb-4 gap-2" data-aos="fade-up" data-aos-delay="300">
                    <div class="alert alert-danger text-center" role="alert">
                        <div class="bi bi-exclamation-circle-fill text-danger" style="font-size: 2rem;">
                            <h3 class="alert-heading fw-bold">No projects found!</h3>
                            {% if user.is_staff %}
                            <a href="{% url 'app:add_project' %}" class="btn btn-outline-primary">Create project</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- If not projects hide this -->
        {% if featured_projects %}
        <div class="text-center mt-2" data-aos="fade-up" data-aos-delay="400">
            <a href="{% url 'app:projects' %}" class="btn btn-outline-primary">View All Projects</a>
        </div>
        {% endif %}
    </div>
</section>
