<section id="portfolio" class="featured-projects portfolio project py-5" data-aos="fade-up">
    <div class="container justify-content-center align-items-center">
        <div class="section-title" data-aos="fade-up" data-aos-delay="100"> 
            <h2 class="text-center">Featured Projects</h2>
        </div>
        {% include "app/projects/partials/projects.html" %}

        <!-- If not projects hide this -->
        {% if featured_projects %}
        <div class="text-center mt-2" data-aos="fade-up" data-aos-delay="400">
            <a href="{% url 'app:projects' %}" class="btn special-btn">View All Projects</a>
        </div>
        {% endif %}
    </div>
</section>
