<section id="portfolio" class="featured-projects portfolio project py-5">
    <div class="container justify-content-center align-items-center">
        <div class="section-title">
            <h2 class="text-center">Featured Projects</h2>
        </div>
        {% include "app/projects/partials/projects.html" %}

        <!-- If not projects hide this -->
        {% if projects %}
        <div class="text-center mt-2">
            <a href="{% url 'app:projects' %}" class="btn btn-primary">View All Projects</a>
        </div>
        {% endif %}
    </div>
</section>
