button[type=submit] {
    border: 0;
    padding: 10px 12px;
    color: #01172b;
    transition: 0.4s;
    border-radius: 10px;
    border: 2px solid #01172b;
    background: #fff;
}
  
button[type=submit]:hover {
    background: #01172b;
    color: #fff;
    font-weight: bold;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 60px;
  padding: 0;
  font-size: 14px;
  transition: all 0.5s;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  z-index: 996;
}

#topbar.topbar-scrolled {
  top: -60px;
}

#topbar .contact-info a {
  line-height: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  text-decoration: underline;
}

#topbar .contact-info i {
  color: #f6b024;
  line-height: 0;
  margin-right: 5px;
}

#topbar .contact-info .phone-icon {
  margin-left: 15px;
}

#topbar .cta {
  background: transparent;
}

#topbar .cta a {
  color: #fff;
  background: #f6b024;
  padding: 6px 24px 8px 24px;
  display: inline-block;
  transition: 0.3s;
  border-radius: 50px;
}

#topbar .cta a:hover {
  background: #f1a40a;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-be-wal {
  font-family: "Playwrite BE WAL", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.bg-brown {
  background-color: #cccccb;
}/* 
.search-bar {
  z-index: 1050;
}

.search-bar form {
  max-width: 800px;
}

@media (max-width: 767px) {
  .search-bar .form-control,
  .search-bar .form-select,
  .search-bar .btn {
      font-size: 1rem;
  }
  
  .search-bar form {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .search-bar .form-control,
  .search-bar .form-select,
  .search-bar .btn {
      font-size: 1.25rem;
  }
} */

.bg-opacity-90 {
  --bs-bg-opacity: 0.9;
}

.btn[data-bs-busy="true"] {
  position: relative;
  pointer-events: none;
}

.btn[data-bs-busy="true"] .spinner-border {
  position: relative;
  margin-right: 8px;
}

/* Optional: Fade transition for state changes */
.btn {
  transition: all 0.5s ease;
}

/* Optional: Disable text selection during loading */
.btn[data-bs-busy="true"] {
  user-select: none;
}


.source-serif-4-regular {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-serif-4-bold {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.stix-two-text-regular {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.stix-two-text-bold {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#full-page-search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 99999;
}

#full-page-search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  width: 100%;
}

#full-page-search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #4d4d4d;
  background: rgba(0, 0, 0, 0);
  font-weight: 400;
  text-align: center;
  border: 0;
  margin-top: -51px;
  padding: 15px;
  max-width: 400px;
  background: #fff;
  outline: none;
  border-radius: 3px;
  font-size: 17px;
}

.search-header{
  max-width: 400px;
  margin: 0 auto;
}

#full-page-search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 400;
  margin-top: 20px;
  margin-left: -45px;
}

#full-page-search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #535353;
  opacity: 1;
  padding: 10px 17px;
  font-size: 17px;
  outline: 0 auto -webkit-focus-ring-color;
  cursor: pointer;
  border-radius: 3px;
  background: #3a3a3a;
}
#full-page-search .close:hover {
  background: #535353;
  color: #fff;
}
