{% extends "app/base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<section class="mt-5 mb-5 section bg-body-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header section-title">
                        <h2 class="text-center">{{ form_title }}</h2>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Are you sure you want to delete this project?</p>
                        <p class="text-center fw-bold">Project Title: <span class="fs-italic text-primary">{{ object.title }}</span></p>
                        <p class="text-center">All associated data will be permanently deleted.</p>
                        <p class="text-center fw-bold text-danger">This action cannot be undone.</p>
                    </div>
                    <div class="card-footer text-center">
                        <form id="delete-project-form" method="post" class="d-flex align-items-center justify-content-around">
                            {% csrf_token %}
                            <a href="{% url 'app:projects' %}" class="btn btn-outline-secondary">Cancel</a>
                            <button type="submit" id="submitButton" data-loading-text="{{ data_loading_text }}" class="btn btn-outline-danger">{{ submit_text }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", ()=> {
        const form = document.getElementById("{{ form_id|default:'other-form' }}");
        new FormValidator(form);
    });
</script>
{% endblock %}
