{% extends "app/base.html" %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<section class="mt-5 mb-5 section bg-body-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-body-secondary">
                    <div class="card-header">
                        <h3 class="text-center">{{ form_title }}</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Are you sure you want to delete "{{ object.title }}"? This action cannot be undone.</p>
                        <form id="other-form" method="post" class="d-flex align-items-center justify-content-around">
                            {% csrf_token %}
                            <a href="{% url 'app:projects' %}" class="btn btn-outline-secondary">Cancel</a>
                            <button type="submit" id="submitButton" data-loading-text="{{ data_loading_text }}" class="btn btn-outline-danger">{{ submit_text }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
