{% extends 'app/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<div class="page-title">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1>{{ post.title }}</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="{% url 'app:home' %}">Home</a></li>
                <li><a href="{% url 'blog:blog_posts_list' %}">Blog Posts</a></li>
            </ol>
        </nav>
    </div>
</div>

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-8">
                <article class="entry entry-single">
                    <h2 class="entry-title">
                        <a href="{% url 'blog:blog_post_details' post.slug %}">{{ post.title }}</a>
                    </h2>

                    <div class="entry-img my-1">
                        {% if post.optimized_image_url %}
                        <img src="{{ post.optimized_image_url }}" alt="{{ post.title }}" class="img-fluid mb-1">
                        {% endif %}
                    </div>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center">
                                <i class="bi bi-person"></i>
                                <a href="{% url 'blog:posts_by_author' post.author.username %}">{{ post.author.get_full_name | default:post.author.username|capfirst }}</a>
                            </li>
                            {% if post.first_published_at %}
                            <li class="d-flex align-items-center">
                                <i class="bi bi-clock"></i>
                                {% with year=post.first_published_at|date:"Y" month=post.first_published_at|date:"m" day=post.first_published_at|date:"d" %}
                                <div class="date-links">
                                    <a href="{% url 'blog:posts_by_date' year %}" title="View all posts from this year">
                                        {{ post.first_published_at|date:"Y" }}
                                    </a>
                                    <span class="separator">/</span>
                                    <a href="{% url 'blog:posts_by_date' year|add:'-'|add:month %}" title="View all posts from this month">
                                        {{ post.first_published_at|date:"F" }}
                                    </a>
                                    <span class="separator">/</span>
                                    <a href="{% url 'blog:posts_by_date' year|add:'-'|add:month|add:'-'|add:day %}" title="View all posts from this day">
                                        {{ post.first_published_at|date:"j" }}
                                    </a>
                                </div>
                                {% endwith %}
                            </li>
                            {% endif %}
                            {% if user.is_authenticated and user == post.author or user.is_staff %}
                            <li class="d-flex align-items-center position-relative">
                                <div class="action-buttons">
                                    {% include 'app/includes/action-buttons.html' %}
                                </div>
                                <!-- <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const li = document.querySelector('.bi-three-dots').parentElement;
                                        const actionButtons = li.querySelector('.action-buttons');
                                        li.addEventListener('mouseenter', () => actionButtons.classList.remove('d-none'));
                                        li.addEventListener('mouseleave', () => actionButtons.classList.add('d-none'));
                                    });
                                </script> -->
                            </li>
                            {% endif %}
                            <li class="d-flex align-items-center">
                                <a type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#shareModal"
                                    data-share-url="{% url 'blog:blog_post_details' post.slug %}"
                                    data-share-title="{{ post.title }}"
                                    class="share-link">
                                    <i class="bi bi-share-fill fs-6"></i>
                                </a>
                            </li>
                    </div>
                    <div class="entry-content">
                        {{ post.content | richtext | safe }}
                    </div>
                    <div class="entry-footer">
                        <i class="bi bi-tags"></i>
                        <ul class="tags mx-2">
                            {% for topic in post_topics %}
                                <li><a href="{% url 'blog:posts_by_topic' topic %}">{{ topic }}</a></li>
                            {% endfor %}
                        </ul>
                        <ul class="tags">
                            <a type="button" data-bs-toggle="modal" data-bs-target="#shareModal">
                                <i class="bi bi-share-fill fs-6"></i>
                            </a>
                        </ul>
                    </div>
                </article>

                <div class="edit-delete d-none">
                    {% if request.user.is_staff or request.user == post.author %}
                    {% include 'blog/partials/edit_delete_posts_modal.html' %}
                    {% endif %}
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const editDelete = document.querySelector('.edit-delete');
                        const editDeleteButton = document.querySelector('.action-buttons button');
                        editDeleteButton.addEventListener('click', () => editDelete.classList.remove('d-none'));
                    });
                </script>
            </div>
            <div class="col-lg-4 sidebar">
                {% include 'blog/partials/sidebar.html' with other_posts=other_posts %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
