{% extends "app/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailuserbar wagtailadmin_tags %}

{% load static %}

{% block title %} {{ page_title }} {% if not all_authors %} by {{ author.get_full_name | default:author.username }} {% endif %}{% endblock %}

{% block content %}
<div class="page-title">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1>{{ page_title }}</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="{% url 'app:home' %}">Home</a></li>
                <li><a href="{% url 'blog:list_articles' %}">Blog Posts</a></li>
            </ol>
        </nav>
    </div>
</div>

<section id="blog" class="blog">
    <div class="container" data-aos="fadeup">
        <div class="row">
            <div class="section-title py-2">
                <h2 class="text-center">
                    {{ page_title }} {% if not all_authors %} by <a href="{% url 'blog:articles_by_author' author.username %}">{{ author.get_full_name | default:author.username | capfirst }}</a> {% endif %}
                </h2>
            </div>
            <div class="row">
                <div class="entries col-lg-8">
                    <div class="d-block d-md-none d-lg-none mb-3">
                    {% include 'app/pagination/articles.html' %}
                    </div>
                    <div class="d-flex justify-content-around gap-1 flex-wrap align-items-center align-items-stretch">
                        {% for article in articles %}
                        <article class="entry col-12">
                            <h2 class="entry-title">
                                <a href="{% url 'blog:article_details' article.slug %}" class="text-decoration-none text-success">{{ article.title }}</a>
                            </h2>
                            {% if article.optimized_image_url %}
                            <div class="entry-img my-2">
                                <img src="{{ article.optimized_image_url }}" alt="{{ article.title |default:'Post image' }}" class="img-fluid">
                            </div>
                            {% endif %}
                            <div class="entry-meta">
                                <ul>
                                    <li
                                    class="d-flex align-items-center">
                                        <i class="bi bi-person"></i>
                                        <a href="{% url 'blog:articles_by_author' article.author.username %}">{{ article.author.get_full_name | default:article.author.username|capfirst }}</a>
                                    </li>
                                    {% if article.first_published_at %}
                                    <li class="d-flex align-items-center">
                                        <i class="bi bi-clock"></i>
                                        {% with year=article.first_published_at|date:"Y" month=article.first_published_at|date:"m" day=article.first_published_at|date:"d" %}
                                        <span class="date-links">
                                            <a href="{% url 'blog:articles_by_date' year|add:'-'|add:month|add:'-'|add:day %}" title="View all posts from this day">
                                                {{ article.first_published_at|date:"d" }}
                                            </a>
                                            <span class="separator">-</span>
                                            <a href="{% url 'blog:articles_by_date' year|add:'-'|add:month %}" title="View all posts from this month">
                                                {{ article.first_published_at|date:"m" }}
                                            </a>
                                            <span class="separator">-</span>
                                            <a href="{% url 'blog:articles_by_date' year %}" title="View all posts from this year">
                                                {{ article.first_published_at|date:"Y" }}
                                            </a>
                                        </span>
                                        {% endwith %}
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="entry-content">
                                {{ article.content | richtext | safe | truncatewords:15 }}
                            </div>
                            <div class="entry-footer d-flex justify-content-between align-items-stretch">
                                <a type="button"
                                    href="{% url 'blog:article_details' article.slug %}"
                                    class="read-article btn btn-sm btn-primary">
                                    Read More
                                </a>
                                <!-- share article button -->
                                <a type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#shareModal"
                                    data-share-url="{% url 'blog:article_details' article.slug %}"
                                    data-share-title="{{ article.title }}"
                                    class="btn share-link btn-sm btn-success">
                                    Share <i class="bi bi-share-fill fs-6"></i>
                                </a>
                            </div>
                        </article>

                        {% empty %}
                        <article class="entry alert alert-danger text-center" role="alert">
                            <div class="bi bi-exclamation-circle-fill text-danger" style="font-size: 2.5rem;">
                                <h3 class="alert-heading fw-bold">No articles found!</h3>
                                <p class="lead">No articles were found matching your search criteria.</p>
                                {% if user.is_staff %}
                                <a href="{% url 'blog:create_article' %}" class="btn btn-outline-primary">Create Article</a>
                                {% endif %}
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                    {% if articles %}
                    <div class="d-block d-md-none d-lg-none mb-3">
                    {% include 'app/pagination/articles.html' %}
                    </div>
                    {% endif %}
                </div>
                <div class="sidebar col-lg-4">
                {% include 'blog/partials/sidebar-list.html' with other_posts=other_posts current_sort=current_sort current_topic=current_topic topics=topics sorting_options=sorting_options q=q %}
                </div>
            </div>
            <div class="d-none d-md-none d-lg-block">
                {% include 'app/pagination/articles.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
