{% extends "app/base.html" %}
{% load static %}
{% block title %} Blog {% endblock %}

{% block content %}
<section id="section" class="mt-5 section blog bg-dark">
    <div class="card container justify-content-center d-flex align-items-center bg-black text-white" data-aos="fade-up" data-aos-delay="200">
        <div class="mt-2 text-center justify-content-center mb-2 card-header" data-aos="fade-up">
            <div class="info-wrap text-center mb-2" data-aos="fade-up">
                <h1 class="fw-bold text-white">Blog Posts by {{ author.username }}</h1>
            </div>
        </div>

        <div class="row gy-4 justify-content-center align-items-center mb-3 mt-0">
            <div class="col-lg-11">
                <div class="row gy-4 align-items-center">
                    {%  for post in posts %}
                        <div class="col-md-6 col-sm-5 col-lg-3">
                            <div class="card bg-dark text-white">
                                <div class="card-body text-center">
                                    <a href="{% url 'post_detail' post.slug %}"><h5 class="card-title fw-bold">{{ post.title }}</h5></a>
                                    <p class="text-muted"><span>{{ post.created_at }}</span></p>
                                    <p class="card-text text-start"><span class="short-description">{{ post.content|truncatewords:60 }}</span></p>
                                    <a href="{% url 'post_detail' post.slug %}" class="btn btn-light">Read Article</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
