{% extends "app/base.html" %}
{% load static %}
{% block title %} Blog Posts by
    {% if author.first_name and author.last_name %}
    {{ author.first_name }} {{ author.last_name }}
    {% else %}
    {{ author.username|capfirst }}
    {% endif %}
{% endblock %}

{% block content %}
<section id="section" class="mt-5 section blog bg-dark">
    <div class="container">
        <h2 class="text-center text-white mb-5">Blog Posts by
            {% if author.first_name and author.last_name %}
                {{ author.first_name }} {{ author.last_name }}
            {% else %}
                {{ author.username|capfirst }}
            {% endif %}
        </h2>
        
        <div class="row justify-content-center">
            {% for post in posts %}
            <div class="col-lg-5 col-md-6 mb-4">
                <div class="card bg-white text-black h-100" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-body">
                        <p class="card-title fw-bold">
                            <a href="{% url 'post_detail' post.slug %}" class="text-success text-decoration-none">{{ post.title }}</a>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                By <a href="{% url 'author_posts' post.author.username %}" class="text-success text-decoration-none">
                                    {% if post.author.first_name and post.author.last_name %}
                                        {{ post.author.first_name }} {{ post.author.last_name }}
                                    {% else %}
                                        {{ post.author.username|capfirst }}
                                    {% endif %}</a>
                                &nbsp;|&nbsp; {{ post.created_at|date:"F j, Y" }}
                            </small>
                        </p>
                        <p class="card-text">{{ post.content|truncatewords:20 | safe }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-success">Read Article</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
