{% extends "app/base.html" %}
{% load static %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<section id="profile" class="profile section bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center gradient-custom-3">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div class="text-center mb-2 card card-header">
                                <h2  class="fw-bold">{{ form_title }}</h2>
                            </div>
                            <form id="other-form" method="post" enctype="multipart/form-data" class="form-control form-group card">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group mb-3">
                                    {{ field.label_tag }} {{ field }}
                                    <span class="error-message text-muted" id="error-{{ field.name }}"></span>
                                </div>
                                {% endfor %}
                                <div class="text-center mb-2 mt-3">
                                    <button type="submit" class="btn btn-primary">{{ submit_text }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
