{% extends "app/base.html" %}
{% load static %}
{% block title %} {{ page_title }} {% if not all_authors %} by {{ author.get_full_name|default:author.username }} {% endif %} {% endblock %}

{% block content %}
<section id="author-posts" class="py-5 bg-light mt-5">
    <div class="container d-flex justify-content-center align-items-center card col-lg-9 col-md-10 col-sm-11">
        <div class="section-title mt-3 mb-4">
            <h2 class="text-center">
                {{ page_title }} {% if not all_authors %} by {{ author.get_full_name|default:author.username }} {% endif %}
            </h2>
        </div>

        <!-- Search Form -->
        <form id="searchForm" class="mb-4 w-sm-100 w-75 d-flex justify-content-between align-items-center">
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control form-control-lg form-control-sm" placeholder="Search posts...">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </div>
        </form>

        <!-- Topic Tabs -->
        <div class="row">
            <!-- Topic Sidebar -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Topics</h5>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs card-header-tabs mb-1" id="topicTabs" role="tablist">
{% comment %}
                            <li class="nav-item">
                                <a class="nav-link {% if current_topic == 'all' %}active{% endif %}" href="#" data-topic="all">All</a>
                            </li>{% endcomment %} 
                            {% for topic in topics %}
                            <li class="nav-item" role="presentation">
                                <a class="nav-link {% if current_topic == topic %}active{% endif %}" href="#" data-topic="{{ topic }}">{{ topic|title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        <h5 class="mb-1">Sort By:</h5>
                    </div>
                    <div class="card-body">
                        <div id="sortContainer" class="mb-4">
                            <select id="sortSelect" class="form-select">
                                {% for key, value in sorting_options.items %}
                                    <option value="{{ key }}" {% if key == current_sort %}selected{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Posts Container -->
                <div id="postsContainer" class="row g-4">
                    <!-- Posts will be dynamically loaded here -->
                </div>

                <!-- Pagination -->
                <nav aria-label="Page navigation" class="mt-4">
                    <ul id="pagination" class="pagination justify-content-center">
                        <!-- Pagination will be dynamically updated -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        function loadPosts(topic, page, sort, search) {
            $.ajax({
                url: '{% url "blog" %}', 
                data: {
                    'topic': topic,
                    'page': page,
                    'sort': sort,
                    'search': search
                },
                dataType: 'json',
                success: function(data) {
                    $('#postsContainer').html(data.posts_html);
                    $('#pagination').html(data.pagination_html);
                    var newUrl = updateQueryStringParameter(window.location.href, 'sort', sort);
                    newUrl = updateQueryStringParameter(newUrl, 'topic', topic);
                    newUrl = updateQueryStringParameter(newUrl, 'page', page);
                    window.history.pushState({path:newUrl}, '', newUrl);
                }
            });
        }

        // Helper function to update URL parameters
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }

        $('#topicTabs a').on('click', function(e) {
            e.preventDefault();
            $('#topicTabs a').removeClass('active');
            $(this).addClass('active');
            var topic = $(this).data('topic');
            var sort = $('#sortSelect').val();
            var search = $('#searchInput').val();
            loadPosts(topic, 1, sort, search);
        });

        $(document).on('click', '#pagination a', function(e) {
            e.preventDefault();
            var topic = $('#topicTabs .active').data('topic');
            var page = $(this).attr('href').split('page=')[1];
            var sort = $('#sortSelect').val();
            var search = $('#searchInput').val();
            loadPosts(topic, page, sort, search);
        });

        $('#sortSelect').on('change', function() {
            var topic = $('#topicTabs .active').data('topic');
            var sort = $(this).val();
            var search = $('#searchInput').val();
            loadPosts(topic, 1, sort, search);
        });

        $('#searchForm').on('submit', function(e) {
            e.preventDefault();
            var topic = $('#topicTabs .active').data('topic');
            var sort = $('#sortSelect').val();
            var search = $('#searchInput').val();
            loadPosts(topic, 1, sort, search);
        });

        // Load initial posts
        var initialTopic = '{{ current_topic }}';
        var initialSort = '{{ current_sort }}';
        var initialSearch = '{{ search_query }}';
        loadPosts(initialTopic, 1, initialSort, initialSearch);
    });
</script>
{% endblock %}
