{% extends "app/base.html" %}
{% load static %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<section id="section" class="mt-5 section blog bg-dark">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center text-white mb-4">{{ page_title }}</h2>
        </div>
  
        <!-- Topic Tabs -->
        <div class="d-flex bg-white card p-2 mb-4 justify-content-center align-items-center" data-bs-ride="carousel">
            <ul class="nav nav-tabs card-header-tabs mb-3" id="topicTabs" role="tablist">
                {% for topic in topics %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if current_topic == topic %}active{% endif %}" href="#" data-topic="{{ topic }}">{{ topic|title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>


        <div id="sortContainer" class="d-flex bg-white card p-2 mb-4 justify-content-center align-items-center">
            <!-- Sorting Feature -->
        </div>

        <div id="postsContainer" class="row justify-content-center">
            <!-- Posts will be dynamically loaded here -->
        </div>
        
        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-3">
            <ul id="pagination" class="pagination pagination-sm pagination-lg justify-content-center">
                <!-- Pagination will be dynamically updated -->
            </ul>
        </nav>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        function loadPosts(topic, page) {
            $.ajax({
                url: '{% url "blog" %}',
                data: {
                    'topic': topic,
                    'page': page
                },
                dataType: 'json',
                success: function(data) {
                    $('#sortContainer').html(data.sort_html);
                    $('#postsContainer').html(data.posts_html);
                    $('#pagination').html(data.pagination_html);
                }
            });
        }

        $('#topicTabs a').on('click', function(e) {
            e.preventDefault();
            $('#topicTabs a').removeClass('active');
            $(this).addClass('active');
            var topic = $(this).data('topic');
            loadPosts(topic, 1);
        });

        $(document).on('click', '#pagination a', function(e) {
            e.preventDefault();
            var topic = $('#topicTabs .active').data('topic');
            var page = $(this).attr('href').split('page=')[1];
            loadPosts(topic, page);
        });

        // Load initial posts
        loadPosts('{{ current_topic }}', 1);

        // sort posts by selected option
        $('#sort').on('change', function() {
            var sort = $(this).val();
            var topic = $('#topicTabs .active').data('topic');
            var page = $('#pagination .active').text();
            $.ajax({
                url: '{% url "blog" %}',
                data: {
                    'topic': topic,
                    'sort': sort,
                    'page': page
                },
                dataType: 'json',
                success: function(data) {
                    $('#postsContainer').html(data.posts_html);
                }
            });
        });
    });

</script>
{% endblock %}
