{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination pagination-sm pagination-lg justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?topic={{ current_topic }}&page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo; Previous</span></li>
        {% endif %}
        
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?topic={{ current_topic }}&page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?topic={{ current_topic }}&page={{ page_obj.next_page_number }}">Next &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next &raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
