{% if page_obj.has_other_pages %}
<div class="d-flex justify-content-center mt-4">
    <nav aria-label="Pagination" class="mt-4">
        <ul class="pagination pagination-sm pagination-lg justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link d-flex justify-content-between align-items-center"
                        href="?category={{ current_category }}&page={{ page_obj.previous_page_number }}">
                        &laquo; Previous
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link d-flex justify-content-between align-items-center">
                        &laquo; Previous
                    </span>
                </li>
            {% endif %}
            
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link d-flex justify-content-between align-items-center">
                            {{ i }}
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link d-flex justify-content-between align-items-center"
                            href="?page={{ i }}&category={{ current_category }}">
                            {{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link d-flex justify-content-between align-items-center"
                        href="?page={{ page_obj.next_page_number }}&category={{ current_category }}">
                        Next &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link  d-flex justify-content-between align-items-center">
                        Next &raquo;
                    </span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
