{% if page_obj.has_other_pages %}
<nav aria-label="Pagination" class="mt-4">
    <ul class="pagination pagination-sm pagination-lg justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link d-flex justify-content-between align-items-center" href="?q={{ q }}&category={{ category }}&sort={{ sort }}&page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link"> Previous</span></li>
        {% endif %}
        
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?q={{ q }}&category={{ category }}&sort={{ sort }}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?q={{ q }}&category={{ category }}&sort={{ sort }}&page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link  d-flex justify-content-between align-items-center">Next &raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
