{% extends "app/base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% load custom_encoding %}
{% block description %}{{ page_description|default:"Create or update a project." }}{% endblock %}
{% block keywords %}projects, portfolio, software development, web development{% endblock %}
{% block author %}Ethan Wanyoike{% endblock %}


{% block content %}
<div class="page-title" data-aos="fade-up">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <nav class="breadcrumbs">
            <ol>
                <li><a href="{% url 'app:home' %}">Home</a></li>
                <li><a href="{% url 'app:projects' %}">Projects</a></li>
                {% if project_url %}
                <li><a href="{{ project_url }}">Project</a></li>
                {% endif %}
                <li>{{ title }}</li>
            </ol>
        </nav>
    </div>
</div>

<section id="project" class="section project" data-aos="fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-header">
                        <div class="section-title p-1">
                            <h2 class="text-center">{{ title }}</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="project-form" method="post" enctype="multipart/form-data" class="{{ form_id|default:'other-form' }}">
                            {% csrf_token %}
                            {% for field in form %}
                            <!-- form switch for publish -->
                            {% if field.label == 'Publish Project' %}
                            <div class="form-check form-switch">
                                <input class="form-check form-check-input" type="checkbox" id="{{ field.auto_id }}" name="{{ field.html_name }}" {% if field.value %}checked{% endif %}>
                                <label class="form-check
                                    form-switch-label" for="{{ field.auto_id }}">
                                    {{ field.label }}
                                </label>
                            </div>
                            {% else %}
                            <div class="form-group mb-3">
                                <label for="{{ field.id_for_label }}"
                                   class="form-label">
                                  {{ field.label }}
                                  {% if field.field.required %}
                                  <span class="text-danger"><i class="bi bi-asterisk"></i></span>
                                  {% endif %}
                                </label>
                                {{ field }}
                                <!-- exclude character counter for youtube urls & images -->
                                {% if field.auto_id != 'id_youtube_urls' and field.auto_id != 'id_images' %}
                                <div class="char-counter mt-1">
                                    <small class="text-muted">
                                        <span id="{{ field.auto_id }}-count"></span>
                                    </small>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="text-center mb-2 mt-3">
                                <button type="submit" id="submitButton" data-loading-text="{{ data_loading_text }}" class="w-50">{{ submit_text }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
