<!-- Modal for editing and deleting projects -->
<!-- Edit Project Modal -->
{% if user.is_staff %}
<div class="modal modal-fullscreen-sm modal-fullscreen-md fade other" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center fw-bold" id="editModalLabel">Edit Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="other-form" class="other-form form-control" action="{% url 'app:update_project' project.slug %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">
                          {{ field.label }}
                          {% if field.field.required %}
                          <span class="text-danger"><i class="bi bi-braces-asterisk"></i></span>
                          {% endif %}
                          {% if field.help_text %}
                          <button type="button"
                                  class="btn btn-sm btn-link text-decoration-none p-0"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  title="{{ field.help_text }}">
                            <i class="bi bi-question-circle-fill text-primary"></i>
                          </button>
                          {% endif %}
                        </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="{{ submit_text | default:'Save Changes' }}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content text-danger -subtle">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete "{{ project.title }}"?
                Notice that any associated images and YouTube video links will also be deleted.
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="delete-form" action="{% url 'app:delete_project' project.slug %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="submit" id="submitButton" data-loading-text="{{ data_loading_text }}" class="btn btn-danger" value="Delete"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End of Modal for editing and deleting projects -->
