{% extends "app/base.html" %}
{% load static %}
{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="{% url 'app:home' %}">Home</a></li>
            <li><a href="{% url 'app:projects' %}">Projects</a></li>
            <li>{{ project.title }}</li>
        </ol>
    </div>
</section>

<section id="portfolio-details" class="project portfolio-details">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        {% if project.images.all or project.videos.all %}
                            {% for image in project.images.all %}
                                <div class="swiper-slide">
                                    <div class="project-item filter-{{ project.category|slugify }}">
                                        {% if image.cloudinary_image_url %}
                                        <img src="{{ image.cloudinary_image_url }}" alt="{{ project.title }}" class="img-fluid">
                                        {% elif image.cloudinary_image_url %}
                                        <img src="{{ image.cloudinary_image_url }}" alt="{{ project.title }}" class="img-fluid">
                                        {% else %}
                                        <img src="{% static 'assets/images/projects/default.png' %}" alt="{{ project.title }}" class="img-fluid">
                                        {% endif %}
                                        <div class="project-info">
                                            <h4>{{ project.title }}</h4>
                                            <p>Image</p>
                                            <a href="{{ image.cloudinary_image_url }}" data-gallery="projectGallery" class="project-lightbox preview-link" title="{{ project.title }}">
                                                <i class="bi bi-plus"></i>
                                            </a>
                                            <a href="#" class="details-link" title="{{ project.title }}">
                                                <i class="bi bi-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for video in project.videos.all %}
                                <div class="swiper-slide">
                                    <div class="project-item filter-{{ project.category|slugify }}">
                                        <div class="align-items-stretch position-relative video-box" 
                                            style="background-image: url('{{ video.thumbnail_url }}');"
                                            data-aos="fade-right">
                                            <a href="{{ video.youtube_url }}" class="glightbox play-btn mb-4"></a>
                                        </div>
                                        <div class="project-info">
                                            <h4>{{ project.title }}</h4>
                                            <p>YouTube Video</p>
                                            <a href="{{ video.youtube_url }}" data-gallery="projectGallery" class="project-lightbox preview-link" title="{{ project.title }} - YouTube Video">
                                                <i class="bi bi-plus"></i>
                                            </a>
                                            <a href="#" class="details-link" title="{{ project.title }} - YouTube Video">
                                                <i class="bi bi-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="swiper-slide">
                                <p>No Images/YouTube Videos uploaded for this project</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project Information</h3>
                    <ul>
                        <li><strong>Name:</strong> <span class="text-primary">{{ project.title }}</span></li>
                        <li><strong>Category:</strong> <span class="text-primary">{{project.category|default:"Web Development" }}</span></li>
                        <li><strong>Client:</strong> <span class="text-primary">{{ project.client| default:"Personal" }}</span></li>
                        <li><strong>Project Date:</strong> <span class="text-primary">{{ project.created_at | date:"N j, Y" }}</span></li>
                        {% if project.project_url %}
                        <li><strong>Project URL:</strong>
                            <a href="{{ project.project_url }}" target="_blank">
                            <span class="mx-2">Visit Project</span></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>Project Overview</h2>
                    <p>
                        {{ project.description }}
                    </p>
                </div>
                {% if user.is_staff %}
                <div class="action-buttons mb-2">
                    <input type="submit" id="submitButton" class="btn btn-sm btn-outline-primary" value="Edit Project" data-bs-toggle="modal" data-bs-target="#editModal"/>
                    <input type="submit" id="submitButton" class="btn btn-sm btn-outline-danger" value="Delete Project" data-bs-toggle="modal" data-bs-target="#deleteModal"/>
                </div>
                {% endif %}
            </div> 
        </div>
    </div>
    <!-- Modal for editing and deleting projects -->
    {% include 'app/projects/edit_delete_projects.html' with form=form %}
</section>
{% endblock %}
