{% extends 'app/base.html' %}
{% load static %}
{% block title %}{{ page_title }}{% endblock %}
{% block description %}{{ page_description|default:"Explore my projects and professional work." }}{% endblock %}
{% block keywords %}projects, portfolio, software development, web development{% endblock %}
{% block author %}Ethan Wanyoike{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css">
{% endblock %}

{% block content %}
<div class="page-title">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <nav class="breadcrumbs">
            <ol>
                <li><a href="{% url 'app:home' %}">Home</a></li>
                <li>{{ page_title }}</li>
            </ol>
        </nav>
    </div>
</div>

<section class="section profile">
    <div class="row justify-content-around align-items-stretch">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <form method="post" enctype="multipart/form-data" id="profile-photo-form">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="profile_pic">
                        <div class="row d-flex flex-column align-items-center mb-3">
                            <label class="text-center col-form-label">Profile Photo</label>
                            <div class="col-sm-12 d-flex flex-column align-items-center">
                                {% if profile.optimized_image_url %}
                                <img src="{{ profile.optimized_image_url }}" alt="Profile" loading="lazy"
                                    class="img-fluid rounded-circle mb-2">
                                {% else %}
                                <div class="rounded-circle justify-content-center align-items-center" style="height: 100px;">
                                    <i class="bi bi-image" style="font-size: 3rem;"></i>
                                </div>
                                {% endif %}
                                <div class="pt-2">
                                    <button type="button" class="btn btn-sm btn-primary"
                                        title="{% if profile.optimized_image_url %} Update {% else %} Upload {% endif %} Profile Photo"
                                        id="openImageCropModalBtn" onclick="openImageCropModal()">
                                        <i class="bi bi-upload"></i>{% if profile.optimized_image_url %} Update {% else %} Upload {% endif %}
                                    </button>
                                    {% if profile.optimized_image_url %}
                                    <button type="button" class="btn btn-sm btn-danger" title="Delete Profile Photo"
                                        id="confirmDeleteProfilePicBtn" onclick="confirmDeleteProfilePic()">
                                        <i class="bi bi-trash"></i> Delete
                                    </button>
                                    {% endif %}
                                </div>
                                <small class="text-muted d-block mt-2">
                                    Min size: 500x500px, Max file size: 20MB
                                </small>
                            </div>
                        </div>
                    </form>
                    <h2>{{ user.get_full_name }}</h2>
                    <h3>{{ profile.title|default:"Software Developer" }}</h3>
                    <div class="social-links mt-2">
                        {% with social=profile.social_media.first %}
                            {% if social.twitter_x %}
                                <a href="{{ social.twitter_x }}" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
                            {% endif %}
                            {% if social.facebook %}
                                <a href="{{ social.facebook }}" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                            {% endif %}
                            {% if social.instagram %}
                                <a href="{{ social.instagram }}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                            {% endif %}
                            {% if social.linkedin %}
                                <a href="{{ social.linkedin }}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            {% endif %}
                            {% if social.github %}
                                <a href="{{ social.github }}" target="_blank" class="github"><i class="bi bi-github"></i></a>
                            {% endif %}
                        {% endwith %}
                    </div>
                    {% include 'auth/profile/partials/modals/crop-images-modal.html' %}
                    {% include 'auth/profile/partials/modals/delete-image-modal.html' %}
                </div>
            </div>
        </div>

        <div class="col-xl-7">
            <div class="card">
                <div class="card-body pt-3">
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                                <i class="bi bi-person-circle"></i>
                                <span class="d-none d-md-inline ms-1">Overview</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                                <i class="bi bi-pencil-square"></i>
                                <span class="d-none d-md-inline ms-1">Edit Profile</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">
                                <i class="bi bi-gear"></i>
                                <span class="d-none d-md-inline ms-1">Settings</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                                <i class="bi bi-shield-lock"></i>
                                <span class="d-none d-md-inline ms-1">Change Password</span>
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        {% include 'auth/profile/partials/overview.html' %}
                        {% include 'auth/profile/partials/edit-profile.html' %}
                        {% include 'auth/profile/partials/settings.html' %}
                        {% include 'auth/profile/partials/change-password.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<script src="{% static 'assets/js/toast.js' %}" type="module"></script>
<script type="module">
  // Initialize toast manager globally
  import { ToastManager } from '/static/assets/js/toast.js';
  window.toastManager = new ToastManager();

  // Initialize the new profile image cropper
  import { profileImageCropper } from '/static/assets/javascript/images/ProfileImageCropper.js';

  // The cropper is automatically initialized
  console.log('Profile image cropper initialized');
</script>
{% endblock %}
