{% extends "app/base.html" %}
{% load static %}

{% block title %} Page not Found {% endblock %}

{% block content %}
<section id="section contact" class="mt-5 section section-bg contact h-100" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="container">
        <h2 class="text-center text-black fw-bold" data-aos="fade-up">Requested Resource not Found</h2>
        <div class="text-center text-black mb-2" data-aos="fade-up" data-aos-delay="100">
            <p>
                <strong>404 Error</strong>
            </p>
            <img src="{% static 'assets/images/errors/404.jpeg' %}" alt="404 Error" class="img-fluid" style="max-width: 300px;">
            <p>
                The page you are looking for does not exist. Please check the URL or go back to the <a href="{% url 'home' %}">homepage</a>.
            </p>
        </div>
    </div>
</section>