{% extends "app/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<section id="profile" class="mt-5 profile section bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center gradient-custom-3">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div class="text-center mb-2 card card-header">
                                <h2 class="fw-bold text-black">{{ title }}</h2>
                            </div>
                            <form method="post" enctype="multipart/form-data" class="form-control form-group card">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group mb-3">
                                    <label for="{{ field.id_for_label }}" class="form-label">
                                      {{ field.label }}
                                      {% if field.help_text %}
                                      <button type="button"
                                              class="btn btn-sm btn-link text-decoration-none p-0"
                                              data-bs-toggle="tooltip"
                                              data-bs-placement="top"
                                              title="{{ field.help_text }}">
                                        <i class="bi bi-question-circle-fill text-primary"></i>
                                      </button>
                                      {% endif %}
                                    </label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                                <div class="text-center mb-2 mt-3">
                                    <button type="submit" class="btn btn-primary">{{ submit_text }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
