button[type=submit] {
    border: 0;
    padding: 10px 32px;
    color: #0880e8;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #0880e8;
    background: #fff;
  }
  
button[type=submit]:hover {
    background: #0880e8;
    color: #fff;
  }

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 60px;
  padding: 0;
  font-size: 14px;
  transition: all 0.5s;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  z-index: 996;
}

#topbar.topbar-scrolled {
  top: -60px;
}

#topbar .contact-info a {
  line-height: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  text-decoration: underline;
}

#topbar .contact-info i {
  color: #f6b024;
  line-height: 0;
  margin-right: 5px;
}

#topbar .contact-info .phone-icon {
  margin-left: 15px;
}

#topbar .cta {
  background: transparent;
}

#topbar .cta a {
  color: #fff;
  background: #f6b024;
  padding: 6px 24px 8px 24px;
  display: inline-block;
  transition: 0.3s;
  border-radius: 50px;
}

#topbar .cta a:hover {
  background: #f1a40a;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.playwrite-be-wal {
  font-family: "Playwrite BE WAL", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.bg-brown {
  background-color: #cccccb;
}
.search-bar {
  z-index: 1050;
}

.search-bar form {
  max-width: 800px;
}

@media (max-width: 767px) {
  .search-bar .form-control,
  .search-bar .form-select,
  .search-bar .btn {
      font-size: 1rem;
  }
  
  .search-bar form {
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .search-bar .form-control,
  .search-bar .form-select,
  .search-bar .btn {
      font-size: 1.25rem;
  }
}