{% load static %}
<footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container py-2">
            <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-3 justify-content-center">
                <!-- Social Links -->
                <div class="col">
                    <div class="footer-info h-100">
                        <h4 class="footer-title">Social Links</h4>
                        <p>Connect with me on: </p>
                        <div class="social-links d-flex flex-wrap gap-2">
                            <a href="https://x.com/devrohn" target="_blank" class="twitter"><i
                                    class="bi bi-twitter-x"></i></a>
                            <a href="https://facebook.com/reckafella" class="facebook" target="_blank"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/ethanwanyoike" class="linkedin" target="_blank"><i
                                    class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Contact Me -->
                <div class="col">
                    <div class="footer-contact h-100">
                        <h4 class="footer-title">Contact Me</h4>
                        <ul>
                            <li>
                                <a href="mailto:{{ admin_email }}">
                                    <p class="mb-0 fs-6"><i class="bi bi-envelope-fill"></i> Send Email</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Useful Links -->
                <div class="col">
                    <div class="footer-links h-100">
                        <h4 class="footer-title">Useful Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'app:about' %}">About Me</a></li>
                            <li><a href="{% url 'blog:list_articles' %}">Blog</a></li>
                            <li><a href="{% url 'app:contact' %}">Contact</a></li>
                            <li><a href="{% url 'app:projects' %}">Projects</a></li>
                            <li><a href="{% url 'app:services' %}">Services</a></li>
                            <li>
                                <a href="{% url 'app:sitemap' %}"
                                    target="_blank">Sitemaps
                                    <i class="bi bi-box-arrow-up-right fs-6"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Services Offered -->
                <div class="col">
                    <div class="footer-links h-100">
                        <h4 class="footer-title">Services Offered</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Software Testing</a></li>
                            <li><a href="#">Website Maintenance</a></li>
                            <li><a href="#">SEO Optimization</a></li>
                            <li><a href="#">Domain Registration</a></li>
                            <li><a href="#">Technical Writing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright">
                        <strong><span>&copy;
                                <script> document.write(new Date().getFullYear());</script>
                            </span> &mdash;
                            {{ admin_name }} &mdash; All Rights Reserved.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
