{% load static %}
<header id="header" class="header fixed-top d-flex align-items-center mb-5">
    <div class="container-fluid container-sm container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="{% url 'app:home' %}" class="logo align-items-center d-flex">
            <h3 class="sitename pacifico-regular">Ethan</h3>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'app:home' %}" class="text-start active"><span>Home</span></a></li>
                <li class="dropdown"><a href="#"><span>About</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#" class="text-start"><span>About Me</span></a></li>
                        <li><a href="{% url 'app:resume' %}" class="text-start" target="_blank"><span>My Resume (PDF)</span><i class="bi bi-box-arrow-up-right ms-2"></i></a></li>
                    </ul>
                </li>
                <li><a href="{% url 'app:projects' %}" class="text-start"><span>Projects</span></a></li>
                <li><a href="{% url 'app:contact' %}" class="text-start"><span>Contact</span></a></li>
                <li><a href="{% url 'blog:blog_posts_list' %}" class="text-start"><span>Blog</span></a></li>
                <li class="dropdown"><a href="#"><span>Account</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        {% if user.is_staff %}
                        <li><a href="{% url 'blog:create_blog_post' %}" class="text-start"><span>Create Blog Post</span></a></li>
                        <li><a href="{% url 'app:add_project' %}" class="text-start"><span>Create Project</span></a></li>
                        <li><a href="{% url 'app:messages' %}" class="text-start"><span>Messages</span></a></li>
                        <li><a href="{% url 'admin:index' %}" class="text-start" target="_blank"><span>Django Admin</span><i class="bi bi-box-arrow-up-right ms-2"></i></a></li>
                        <li><a href="/wagtail/admin/" class="text-start" target="_blank"><span>Wagtail Admin</span><i class="bi bi-box-arrow-up-right ms-2"></i></a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'app:logout' %}?next={{ request.path }}" class="text-start"><span>Logout</span></a></li>
                        {% else %}
                        <li><a href="{% url 'app:login' %}?next={{ request.path }}" class="text-start"><span>Login</span></a></li>
                        <li><a href="{% url 'app:signup' %}?next={{ request.path }}" class="text-start"><span>Register</span></a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="#" onclick="toggleSearchBar(); return false;" class="text-start">
                      <span class="d-inline d-md-inline d-lg-none">Search</span>
                      <i class="bi bi-search"></i>
                    </a>
                  </li>
            </ul>
            <i class="header-toggle mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>
