<div id="preloader" class="gap-2 d-flex align-items-center justify-content-center">
    <div class="spinner-grow spinner-grow-sm text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-info" style="width: 20px; height: 20px;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" style="width: 25px; height: 25px;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" style="width: 30px; height: 30px;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" style="width: 35px; height: 35px;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" style="width: 40px; height: 40px;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
