{% load static %}
<div class="modal fade p-5" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content pt-4 px-2 pb-5">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel">Search Projects and Blog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="search-form" onsubmit="return performSearch(event)">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-12 col-md-4">
                <input type="search"
                       id="search-input"
                       name="q"
                       class="form-control form-control-sm"
                       placeholder="Search..."
                       aria-label="Search"
                       required>
              </div>
              <div class="col-4 col-md-3">
                <select id="search-bar-filterOption" name="category" class="form-select form-select-sm">
                  <option value="all" selected>All</option>
                  <option value="posts">Posts</option>
                  <option value="projects">Projects</option>
                </select>
              </div>
              <div class="col-4 col-md-3">
                <select id="search-bar-sortSelect" name="sort" class="form-select form-select-sm">
                  <option value="relevance" selected>Relevance</option>
                  <option value="date_desc">Newest First</option>
                  <option value="date_asc">Oldest First</option>
                  <option value="title_asc">Title A-Z</option>
                  <option value="title_desc">Title Z-A</option>
                </select>
              </div>
              <div class="col-4 col-md-2">
                <button type="submit" class="btn btn-sm d-flex justify-content-between align-items-center">
                    <span class="d-sm-none d-md-inline d-lg-inline">Search</span>
                    <i class="bi bi-search d-md-none d-lg-none"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
