    <div id="liveToast" class="toast-container position-fixed top-0 end-0 translate-middle-x" style="z-index: 9999;">
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="toastHeader" class="toast-header d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-around">
                    <i id="toastIcon" class="rounded me-4"></i>
                    <strong id="toastTitle" class="me-2">Notification</strong>
                </div>
                <small id="alert-time" class="text-muted text-body-secondary">Just now</small>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="toastBody" class="toast-body">
                <p id="toastMessage" class="mb-1"></p>
                <ul id="toastMessages" class="mb-1"></ul>
                <ul id="toastErrors" class="mb-0 ps-3"></ul>
            </div>
        </div>
    </div>
