{% extends "app/base.html" %}
{% load static %}
{% block title %} About Me {% endblock %}

{% block content %}
<section id="section about" class="mt-5 section about" style="background-color: dimgray;">
    <div class="container card d-flex flex-column flex-lg-row align-items-center mt-4 justify-content-between bg-dark text-white p-4 h-100">
        <!-- Profile Picture -->
        <div class="mb-3 mb-lg-0 col-lg-4 col-md-6 col-sm-8 text-center text-lg-start">
            <img src="{% static 'assets/images/profile.jpg' %}" alt="Profile Picture" class="img-fluid rounded-circle w-75">
        </div>
        <!-- About Text -->
        <div class="text-white mt-3 mt-lg-0 p-2 col-lg-7">
            <h2 class="fw-bold text-white pacifico-regular kalam-bold">Hello, I'm Ethan</h2>
            <p>Welcome to my portfolio website!</p>
            <p>I am a
                <strong><span class="text-decoration-underline text-success typed" data-typed-items=" FullStack Software Engineer, DevOps Engineer, Backend Developer, Code Testing Specialist," style="text-decoration-thickness: 10%;"></span></strong>
                <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
            </p>
            <p>You can learn more about my work here.</p>
            <div class="d-flex justify-content-center justify-content-lg-start mt-4">
                <a class="btn btn-success" href="{% url 'app:projects' %}">View Projects</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
