{% load static %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">


    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'assets/images/icons/favicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'assets/images/icons/favicon.png' %}">

    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/bootstrap/main.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/styles.css' %}">

    <!-- Page title -->
    <title>Ethan Wanyoike | {% block title %} Base {% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100 bg-secondary-subtle">
    <header id="header" class="header fixed-top d-flex align-items-center mb-5">
        <div class="container-fluid container-sm container-xl position-relative d-flex align-items-center justify-content-between">
            <a href="{% url 'app:home' %}" class="logo align-items-center d-flex">
                <h3 class="sitename pacifico-regular">Ethan</h3>
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'app:home' %}" class="text-start active"><span>Home</span></a></li>
                    <li class="dropdown"><a href="#"><span>About</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#" class="text-start"><span>About Me</span></a></li>
                            <li><a href="{% url 'app:resume' %}" class="text-start" target="_blank"><span>My Resume (PDF)</span><i class="bi bi-box-arrow-up-right ms-2"></i></a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'app:projects' %}" class="text-start"><span>Projects</span></a></li>
                    <li><a href="{% url 'app:contact' %}" class="text-start"><span>Contact</span></a></li>
                    <li><a href="{% url 'blog:blog_posts_list' %}" class="text-start"><span>Blog</span></a></li>
                    <li class="dropdown"><a href="#"><span>Account</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            {% if user.is_staff %}
                            <li><a href="{% url 'blog:create_blog_post' %}" class="text-start"><span>Create Blog Post</span></a></li>
                            <li><a href="{% url 'app:add_project' %}" class="text-start"><span>Create Project</span></a></li>
                            <li><a href="{% url 'app:messages' %}" class="text-start"><span>Messages</span></a></li>
                            <li><a href="{% url 'admin:index' %}" class="text-start" target="_blank"><span>Django Admin</span><i class="bi bi-box-arrow-up-right ms-2"></i></a></li>
                            <li><a href="/cms/admin" class="text-start"><span>Wagtail Admin</span><i class="bi bi-box-arrow-up-right ms-2"></i></a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'app:logout' %}" class="text-start"><span>Logout</span></a></li>
                            {% else %}
                            <li><a href="{% url 'app:login' %}" class="text-start"><span>Login</span></a></li>
                            <li><a href="{% url 'app:signup' %}" class="text-start"><span>Register</span></a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a href="#" onclick="toggleSearchBar(); return false;" class="text-start">
                          <span class="d-inline d-md-inline d-lg-none">Search</span>
                          <i class="bi bi-search"></i>
                        </a>
                      </li>
                </ul>
                <i class="header-toggle mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
    </header>

    <div id="search-bar" class="search-bar position-fixed top-50 start-50 translate-middle w-100 h-100 w-md-75 h-md-75 w-lg-50 h-lg-50 bg-dark bg-opacity-90 d-none">
        <div class="container h-100 d-lg-flex d-block align-items-center justify-content-center">
            <form id="search-form" class="w-100 px-3" onsubmit="return performSearch()">
                <div class="row input-group g-1">
                    <div class="col-12 col-md-4">
                        <input type="text" class="form-control" placeholder="Type to search..." aria-label="Search" required>
                    </div>
                    <div class="col-12 col-md-2">
                        <select id="search-bar-filterOption" class="form-select">
                            <option value="all" selected>All</option>
                            <option value="posts">Posts</option>
                            <option value="projects">Projects</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3">
                        <select id="search-bar-sortSelect" class="form-select">
                            <option value="relevance" selected>Relevance</option>
                            <option value="date_desc">Newest First</option>
                            <option value="date_asc">Oldest First</option>
                            <option value="title_asc">Title A-Z</option>
                            <option value="title_desc">Title Z-A</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-2">
                        <button type="submit" class="w-100 btn-info">Search</button>
                    </div>
                    <div class="col-12 col-md-1 d-flex justify-content-center align-items-center" data-bs-theme="dark">
                        <button type="button" class="btn btn-close" aria-label="Close" onclick="toggleSearchBar()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <main class="main flex-grow-1">
        <div id="liveToast" class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
            <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-around">
                        <i id="toastIcon" class="me-2"></i>
                        <strong id="toastTitle" class=" me-auto me-2">Notification</strong>
                    </div>
                <small id="alert-time" class="text-muted text-body-secondary">Just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="toastBody" class="toast-body"></div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer" class="footer mt-auto py-3">
        <div class="container container-fluid container-xl">
            <div class="copyright text-center">
                <p>
                    <span>All Rights Reserved</span>
                    &copy;
                    <strong class="sitename pacifico-regular">Ethan Wanyoike</strong>
                </p>
            </div>
            <div class="container-fluid info-wrap social-links d-flex justify-content-center">
                <a href="https://x.com/devrohn" target="_blank" class="twitter"><i class="bi bi-twitter-x"></i></a>
                <a href="https://facebook.com/reckafella" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/reckafella" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ethanwanyoike" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://tiktok.com/@reckafella" class="tiktok" target="_blank"><i class="bi bi-tiktok"></i></a>
                <a href="https://youtube.com/reckafella" class="youtube" target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
            <!-- site map -->
            <div class="sitemap row d-flex">
                <a href="{% url 'app:sitemap' %}" target="_blank" class="text-white text-center">Sitemap</a>
            </div>
            <div class="credits">
                Styled using
                <a class="text-start" href="https://getbootstrap.com/" target="_blank">
                    <span class="text-white kalam-bold">Bootstrap 5</span>
                    <i class="bi bi-box-arrow-up-right ms-2"></i>
                </a>
            </div>

            {% if user.is_staff %}
            {# Wagtail User Bar #}
            {% wagtailuserbar 'bottom-left' %}
            {% endif %}
        </div>
    </footer>

    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main & Forms JS Files -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/forms.js' %}"></script>
    <script src="{% static 'assets/js/more_less.js' %}"></script>
    <script src="{% static 'assets/js/search.js' %}"></script>

    <!-- Form data validation -->
     {% block extra_js %} {% endblock %}
    {% comment %}<script src="{% static 'assets/js/input-validator.js' %}"></script>{% endcomment %}
</body>
</html>
