{% extends "app/base.html" %}
{% load static %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<section id="section contact" class="mt-5 section section-bg contact"
style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card bg-light text-dark p-2" data-aos="fade-up" data-aos-delay="200">
                    <div class="card-header bg-transparent border-success">
                        <div class="section-title mb-0">
                            <h2 class="text-center text-black fw-bold mb-0" data-aos="fade-up">{{ page_title }}</h2>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center fw-bold mb-4">Send Me a Message</h3>
                        <form id="form" method="post" class="contact-form">
                            {% csrf_token %}
                            <div class="row gy-4">
                                {% for field in form %}
                                    {% if field.name == 'message' or field.name == 'subject' %}
                                    <div class="col-md-12">
                                        <label for="{{ field.id_for_label }}" class="pb-2">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                    {% else %}
                                    <div class="col-md-6">
                                        <label for="{{ field.id_for_label }}" class="pb-2">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="col-md-12 text-center mt-4">
                                    <button type="submit" class="btn btn-success d-inline-flex align-items-center">{{ submit_text }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% comment %}

<div class="col-md-6">
    <label for="name-field" class="pb-2">Your Name</label>
    <input type="text" name="name" id="name-field" class="form-control" required>
</div>
<div class="col-md-6">
    <label for="email-field" class="pb-2">Your Email</label>
    <input type="email" class="form-control" name="email" id="email-field" required>
</div>
<div class="col-md-12">
    <label for="subject-field" class="pb-2">Subject</label>
    <input type="text" class="form-control" name="subject" id="subject-field" required>
</div>
<div class="col-md-12">
    <label for="message-field" class="pb-2">Message</label>
    <textarea class="form-control" name="message" rows="5" id="message-field" placeholder="Enter your message..." required></textarea>
</div>

{% endcomment %}
