{% extends "app/base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<section id="section" class="mt-2 section d-flex bg-dark">
    <div class="mt-5 col-md-9 col-sm-10 col-lg-9 card d-flex container-sm container-fluid align-items-center justify-content-between bg-black" data-aos="fade-up">
        <div class="mt-3 mb-1 col-lg-4 col-md-4 col-sm-4 w-sm-50 pic">
            <img src="{% static 'assets/images/profile.jpg' %}" alt="Profile Picture" class="img-fluid rounded-circle">
        </div>
        <div class="text-white mt-1 p-2">
            <h2 class="fw-bold text-light pacifico-regular kalam-bold">Hello, I'm Ethan</h2>
            <p>Welcome to my portfolio website!</p>
            <p>You can learn more about me here.</p>
            <div class="d-flex mb-3 justify-content-around align-items-center">
                <a class="btn btn-light" href="{% url 'about' %}">Learn More</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
