{% extends 'app/base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<section id="section" class="mt-5 section blog">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center text-black mb-4">{{ page_title }}</h2>
        </div>

        <!-- Messages received -->
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card bg-light text-dark p-4">
                    <div class="card-body">
                        <h3 class="card-title text-center fw-bold mb-4">Messages Received</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover w-100">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for message in messages %}
                                    <tr>
                                        <td scope="row">{{ message.id }}</td>
                                        <td>{{ message.name }}</td>
                                        <td>{{ message.email }}</td>
                                        <td>{{ message.subject }}</td>
                                        <td>{{ message.message }}</td>
                                        <td>{{ message.created_at }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="messagesContainer">
            <!-- Messages will be dynamically loaded here -->
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        function loadMessages() {
            $.ajax({
                url: '{% url "app:messages" %}',
                dataType: 'json',
                success: function(data) {
                    $('#messagesContainer').html(data.messages_html);
                }
            });
        }

        loadMessages();
    });
</script>
{% endblock %}
