{% extends "app/base.html" %}
{% load static %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<section id="section projects" class="mt-5 section projects"> <!--  bg-dark text-white -->
    <div class="container">
        <div class="section-title">
            <h2 class="text-center text-white mb-5">{{ form_title }}</h2>
        </div>        
        <div class="row justify-content-center">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card bg-white text-black h-100" data-aos="fade-up" data-aos-delay="200">
                    <img src="{% static project.image %}" class="card-img-top" alt="{{ project.title }}">
                    <div class="card-body text-center">
                        <h3 class="card-title fw-bold">{{ project.title }}</h3>
                        <p class="card-text text-start">
                            <span class="short-description">{{ project.description|truncatewords:15 }}</span>
                            <span class="full-description" style="display:none;" data-length="{{ project.description|length }}">{{ project.description }}</span>
                            <a href="javascript:void(0);" class="toggle-description btn btn-link p-0" style="display:none;">More</a>
                        </p>
                        <a href="{{ project.url }}" target="_blank" class="btn btn-success">View Project</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        {% if projects.has_other_pages %}
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                {% if projects.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}">&laquo; Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo; Previous</span></li>
                {% endif %}
                
                {% for i in projects.paginator.page_range %}
                    {% if projects.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if projects.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}">Next &raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next &raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>
{% endblock %}
