{% extends "app/base.html" %}
{% load static %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<section id="section" class="mt-5 section blog mt-2">
    <div class="container col-lg-7 col-md-9 col-sm-10">
        <div class="card bg-white mx-auto" style="max-width: 100%;" data-aos="fade-up" data-aos-delay="200">
            <div class="card-header text-center">
                <div class="info-wrap mb-2" data-aos="fade-up">
                    <h2 class="fw-bold">{{ page_title }}</h2>
                </div>
            </div>
            <div class="card-body">
                {% if found %}
                <embed  src="{% url 'app:resume_pdf' %}" width="100%" height="800px" />
                {% else %}
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">No resume found!</h4>
                    <p>Sorry, the resume is not available at the moment. Please check back later.</p>
                </div> 
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
