{% if articles.has_other_pages %}
<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination pagination-sm pagination-lg justify-content-center">
        {% if articles.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?topic={{ current_topic }}&page={{ articles.previous_page_number }}">&laquo; Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo; Previous</span></li>
        {% endif %}
        
        {% for i in articles.paginator.page_range %}
            {% if articles.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(Current)</span></span></li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?topic={{ current_topic }}&page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% if articles.has_next %}
            <li class="page-item">
                <a class="page-link" href="?topic={{ current_topic }}&page={{ articles.next_page_number }}">Next &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next &raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}